<p><STRONG>DATA:</STRONG><%=data_br(Date.today)%></p>
<h1>Seja Bem-Vindo</h1>
<p>O idioma atual: <%= locale%></p>

<%=render "menu"%>


<p>
Voce esta em ambiente de <STRONG><%=ambiente_rails%></STRONG>
</p>


